<%- include("header") -%>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Are you a Frequent Shopper?</h5>
            <a href="/"></a>
        </div>
    </div>
</div>

<%- include("footer") -%>