<%- include("header") -%>
<main role="main" class="container">
    <header>
        <div class="container my-5">
          <div class="jumbotron">
            <h1 class="display-4">CSC 411 - Databases Project</h1>
            <p class="lead">
              This is a web interface for my databases project. IT IS NOT A REAL
              STORE.
            </p>
            <hr class="my-4" />
            <p>
              Disclaimer: Some of the items listed on this website were gathered from
              the BestBuy website.
            </p>
            <a class="btn btn-primary btn-lg" href="/products" role="button"
              >See Products</a
            >
          </div>
        </div>
      </header>
</main>


<%- include("footer") -%>
