<h5 class="text-center m-3">Please select an option below to see the results of the query.</h5>
<h6 class="text-center m-2">(Store Id 1 is the online store and does not have a state.)</h6>
<div class="container d-flex justify-content-center">
    <a class="btn btn-primary m-1" href="/queries/top-20-products-by-store">Top 20 Products by Store</a>
    <a class="btn btn-primary m-1" href="/queries/top-20-products-by-state">Top 20 Products by State</a>
    <a class="btn btn-primary m-1" href="/queries/top-5-stores">Top 5 Stores Sales</a>
    <a class="btn btn-primary m-1" href="/queries/hp-outsell-lenovo">HP vs. Lenovo</a>
    <a class="btn btn-primary m-1" href="/queries/top-3-categories">Top 3 Categories</a>
</div>