<nav class="col-md-2 d-flex d-md-block bg-light sidebar position-absolute" style="overflow: auto; top: 0; bottom: 0;">
  <div class="sidebar-sticky">
    <h5
      class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
    >
      <span>Categories</span>
      <a class="d-flex align-items-center text-muted" href="#">
        <span data-feather="plus-circle"></span>
      </a>
    </h5>
    <ul class="nav flex-column">
      <% categories.forEach(function (category) { %>
      <li class="nav-item">
        <a
          class="nav-link active"
          href="/products/categories?name=<%= category.name.replace("&", "%26") %>"
        >
          <%= category.name %> <span class="sr-only">(current)</span>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
</nav>
